.app {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 200px;
    background-color: #10141f;
    color: #fff;
    padding: 10px;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .content {
    flex: 1;
    background-color: #f2f3f7;
    padding: 20px;
    margin-left: 200px; /* Это добавляет отступ слева для контента, чтобы он не был под сайдбаром */
  }
  
  /* Убедитесь, что у body и html нет отступов и полей */
  body, html {
    margin: 0;
    padding: 0;
  }
  